del{color:#bbb;}
article.biglogo p{margin-top: 100px;}
.biglogo img{width: 780px;padding-top: 50px;}
.link{color: #bb0000;}
.citation div span{font-size: 30px;}
.citation_description{text-align:right;font-size:15px;margin-bottom: 50px;}
.small{font-size: 16px;}
.smaller a {font-size:16px;}
.text{font-size: 18px;}
.indent10{margin-left: 10px;}
h2{top: 30px !important;}